.hm-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.hm-picture {
  width: 200px;
  height: 200px;
  border: 1px solid var(--offWhite);
  border-radius: 0.25rem;
}

.hm-masked-word {
  font-weight: 700;
  margin: 1rem 0rem 0.5rem;
}

.word-white {
  font-weight: 700;
  color: var(--offWhite);
}

.word-yellow {
  font-weight: 700;
  color: var(--yellow);
}

.input-container {
  position: absolute;
  width: 300px;
  height: 150px;
  background-color: var(--darkGrey);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container form {
  margin-top: 1.5rem;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 250px;
}

.hm-letter-button {
  width: 22px;
  height: 22px;
  margin: 0.125rem;
  background-color: transparent;
  border-radius: 0.25rem;
}

.letter-white {
  color: var(--offWhite);
  border: 1px solid var(--offWhite);
}

.letter-yellow {
  color: var(--yellow);
  border: 1px solid var(--yellow);
}

.letter-grey {
  color: var(--darkGreyLighter);
  border: 1px solid var(--darkGreyLighter);
  pointer-events: none;
}

.hm-boxed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.word-input,
.submit-button {
  background-color: transparent;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 0.75rem;
  width: 200px;
  margin: 0.25rem;
  color: var(--offWhite);
  font-family: "Comfortaa", cursive;
  font-size: 0.75rem;
}

.word-input {
  border: 1px solid var(--offWhite);
}

.submit-button {
  font-weight: 700;
  border: 2px solid var(--offWhite);
}

.submit-button:hover {
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.hm-icon-container {
  position: relative;
}

.hm-icon-full {
  position: absolute;
  stroke: var(--offWhite);
  stroke-width: 1;
  stroke-linecap: round;
  fill: none;
  z-index: 1;
}

.hm-icon-half {
  position: absolute;
  stroke: var(--darkGreyLighter);
  stroke-width: 1;
  stroke-linecap: round;
  fill: none;
}

.notEntered {
  position: absolute;
  transform: translate(0, -20px);
  color: var(--yellow);
}
