.sdk-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sdk-remember-field-container,
.sdk-puzzle-field-container,
.sdk-button-field-container,
.sdk-fake-field-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sdk-remember-field-container {
  position: absolute;
  display: flex;
}

.sdk-button-field-container {
  position: absolute;
}

.sdk-fake-field-container {
  position: absolute;
}

.sdk-remember-field,
.sdk-puzzle-field,
.sdk-button-field,
.sdk-fake-field {
  width: 30px;
  height: 30px;
  margin: 0.175rem;
  background-color: transparent;
}

.sdk-remember-field span,
.sdk-puzzle-field span,
.sdk-button-field span,
.sdk-fake-field span {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
}

.sdk-remember-field {
  border: none;
}

.sdk-puzzle-field {
  border: 1px solid var(--darkGreyLighter);
  border-radius: 0.25rem;
}

.sdk-button-field {
  border: none;
}

.sdk-fake-field {
  border: 1px solid var(--darkGreyLighter);
  border-radius: 0.25rem;
  z-index: 1;
  pointer-events: none;
}

.sdk-puzzle-field span,
.sdk-button-field span {
  font-size: 1.5rem;
}

.sdk-remember-field span {
  font-size: 0.7rem;
  color: var(--offWhite);
  transform: translate(2px, 0px);
}

.field-yellow {
  color: var(--yellow);
}

.field-white {
  color: var(--offWhite);
}

.button-field-white {
  border: 1px solid var(--offWhite);
}

.button-field-yellow {
  border: 1px solid var(--yellow);
}

.button-field-hidden {
  visibility: hidden;
}

.sdk-divider-h1,
.sdk-divider-h2,
.sdk-divider-v1,
.sdk-divider-v2 {
  position: absolute;
}

.sdk-divider-h1,
.sdk-divider-h2 {
  width: 325px;
}

.sdk-divider-v1,
.sdk-divider-v2 {
  height: 325px;
  width: 1px;
  left: 50%;
}

.sdk-divider-h1 {
  transform: translate(0, -53px);
}

.sdk-divider-h2 {
  transform: translate(0, 54px);
}

.sdk-divider-v1 {
  transform: translate(-54px, 0);
}

.sdk-divider-v2 {
  transform: translate(52px, 0);
}

.sdk-number-card {
  width: 100px;
  height: 130px;
  transform: translate(-35%, 25%);
  border: 1px solid var(--offWhite);
  border-radius: 0.5rem;
  background-color: var(--darkGrey);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  pointer-events: all;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.sdk-button-container {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sdk-button-container button {
  width: 75px;
  height: 50px;
  margin: 0.125rem;
  background-color: transparent;
  border: 1px solid var(--darkGreyLighter);
  border-radius: 0.25rem;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.sdk-number-container {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.sdk-number {
  width: 25px;
  height: 25px;
  border: 1px solid var(--darkGreyLighter);
  background-color: transparent;
  border-radius: 0.25rem;
}

.sdk-number span {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

.button-back,
.button-confirm {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid var(--darkGreyLighter);
  border-radius: 0.25rem;
}

.text-yellow {
  color: var(--yellow);
}

.selectLevel {
  position: absolute;
  width: 300px;
  height: 150px;
  z-index: 3;
  background-color: var(--darkGrey);
  border-radius: 0.5rem;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.selectLevel h3 {
  margin: 1rem;
}

.sdk-boxed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sdk-radio-button-container {
  display: flex;
}

.sdk-submit-button-container {
  margin-top: 1rem;
}

.sdk-submit-button-container input,
.sdk-boxed label {
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.25rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  font-family: "Comfortaa", cursive;
  font-size: 0.75rem;
  cursor: pointer;
}

.sdk-boxed label {
  width: 70px;
}

.sdk-submit-button-container input {
  width: 150px;
  border: solid 2px var(--offWhite);
  font-weight: 700;
}

.sdk-boxed label:hover {
  color: var(--yellow);
  border: 1px solid var(--yellow);
}

.sdk-submit-button-container input:hover {
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.sdk-boxed input[type="radio"] {
  display: none;
}

.checked {
  border: solid 1px var(--yellow);
  color: var(--yellow);
}

.unchecked {
  border: solid 1px var(--offWhite);
  color: var(--offWhite);
}

.solution-button {
  position: absolute;
  transform: translate(0px, 215px);
  margin: 0 0.5rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--offWhite);
  background-color: transparent;
  color: var(--offWhite);
  font-family: "Comfortaa", cursive;
  z-index: 1;
}

.solution-button:hover {
  color: var(--yellow);
  border-color: var(--yellow);
}
