html,
body {
  height: 100%;
  color: var(--offWhite);
  background-color: var(--darkGrey);
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  z-index: 1;
}

svg {
  user-select: none;
}
